[Desktop Entry]
Name=Buds
Comment=Galaxy buds app
Exec=bash -c "bluetooth on; wait 3; /home/jake/PortableApps/gbuds.bin"
Terminal=false
Icon=bbuds
Type=Application
StartupWMClass=GalaxyBudsClient
Categories=AudioVideo;
