[Desktop Entry]
Name=Buds
Comment=Galaxy buds app
Exec=/home/jake/PortableApps/gbuds.bin
Terminal=false
Icon=bbuds
Type=Application
StartupWMClass=GalaxyBudsClient
Categories=AudioVideo;
